@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
primary color: #0078aa;
secondary color: #3AB4F2;
third color: #F2DF3A;
fourth color: #F6F6F6;
red__cancel: #D61C4E;
green: #53bf9d;
red: #F94C66



*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;

  /* height: 100vh; */
}

/* universal properties*/
input {
  font-size: 1rem;
  padding: 0.75rem;
  width: 8rem;
  border: none;
  border-radius: 10px;
}

button {
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  border: solid 0.5px #f6f6f6;
  background-color: inherit;
  cursor: pointer;
}

button:hover {
  transform: scale(0.98);
}
h3 {
  font-weight: 500;
}

i {
  font-size: 2rem;
  color: #a0d995;
  margin-left: 0.75rem;
}

.users {
  margin-top: 4rem;
}

/*Login Section*/
.login__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 12rem;
  transition: all 1s;
}

/* Button */
.login__btn {
  border: solid #0078aa 1.5px;
}

/* ---- TOP SECTION ---- */
.top__section {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2.5rem auto 4rem;
  transition: all 1s;
  width: 100%;
}

/* message*/
.top__message {
  font-size: 1.25rem;
}

/* container */
.top__logo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.logo__text {
  font-size: 1.4rem;
  font-weight: 500;
}

.logo__icon {
  border-radius: 50%;
  background-color: #0078aa;
  width: 5.25rem;
}

/* login feature */
.top__login__feature {
  display: flex;
  gap: 0.7rem;
}

.top__login__feature input {
  text-align: center;
  font-size: 1rem;
  padding: 0.75rem;
  width: 8rem;
  border: none;
  border-radius: 10px;
}

/**** ----  APP  ---- ****/

.app {
  max-width: 60%;
  margin: 0 auto 3rem;
  display: block;
  opacity: 0;
  transition: opacity 1.25s;
}

/* -- app top section -- */

.app__top__section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 3rem;
}

/* app features */

.app__features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
}

.feature__form {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
}

.feature {
  padding: 1rem;
  border-radius: 5px;
}

.transfer__money {
  background-color: #f2df3a;
}
.loan__money {
  background-color: #3ab4f2;
}

.close__account {
  background-color: #f94c66;
}
.balance {
  display: grid;
  grid-template-rows: 80% auto;
  /* margin: 0 auto; */
}

.total__balance {
  display: grid;
  grid-template-rows: 20% 70%;
  gap: 1rem;
}

.total__balance__text {
  font-size: 1.15rem;
  font-weight: 500;
}
.total__balance__number {
  font-size: 5rem;
}

.balance__summaries {
  display: flex;
  gap: 1.5rem;
}

.balance__summaries__text {
  font-size: 0.75rem;
}
.balance__summaries__number {
  font-size: 1.5rem;
}

/* Extras */

.extras {
  display: grid;
  grid-template-columns: 6fr 0.75fr 2fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.75rem;
}

.search__input {
  width: 100%;
}

.sort__btn {
  border: solid 1px #0078aa;
}

.btn--blue:hover {
  background-color: #0078aa;
  transform: scale(0.95);
}
/* transaction rows */

.transaction__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  border-radius: 5px;
  margin-bottom: 0.25rem;
  background-color: white;
}

.partner {
  border-radius: 5px;
  padding: 0.75rem;
  width: 7.5rem;
  text-align: center;
}
.deposit {
  background-color: #53bf9d;
}

.withdrawal {
  background-color: #f94c66;
}

/* mobile display */

@media (max-width: 1400px) {
  .app {
    max-width: 80%;
    margin: 0 auto 3rem;
    display: block;
    opacity: 0;
    transition: opacity 1.25s;
  }

  .app__features {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  .top__message {
    display: none;
  }
  .top__section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .top__login__feature {
    display: flex;
    flex-direction: column;
  }

  /***********************/
  .app {
    max-width: 95%;
    margin: 0 auto 3rem;
    display: block;
    opacity: 0;
    transition: opacity 1.25s;
  }

  .app__top__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
  }
  .app__features {
    margin-bottom: 2rem;
  }

  .total__balance__number {
    font-size: 4rem;
  }

  /***************************/

  .search__input {
    display: none;
  }
  .extras {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
